%h1 Profile view: #{@user.name.capitalize}
#form-container
  =form_for(@user, url: {action: "update"}, html: {class: "form-horizontal"}) do
    %fieldset
      .tab-content
        / Tabs of snippets go here
        #input.tab-pane.active
          .component
            / Text input
            .form-group
              %label.strong.col-md-4.control-label{for: "name"} Name
              .col-md-4
                %input#name.form-control.input-md{name: "name", placeholder: "#{@user.name}", style: "cursor: auto;", type: "text"}
            / Text input
            .form-group
              %label.strong.col-md-4.control-label{for: "email"} Email
              - if current_user.admin?
                .col-md-4
                  %input#email.form-control.input-md{name: "email", placeholder: "#{@user.email}", style: "cursor: auto;", type: "text"}
              - else
                .col-md-4
                  %input#email.form-control.input-md{name: "email", placeholder: "#{@user.email}", style: "cursor: auto;", type: "text", readonly: true}
            / Text input
            .form-group
              %label.strong.col-md-4.control-label{for: "website"} Website
              .col-md-4
                %input#website.form-control.input-md{name: "website", value: "#{@user.website}", style: "cursor: auto;", type: "text"}
          - if current_user.admin?
            .component
              / Button Drop Down
              .form-group
                %label.strong.col-md-4.control-label{for: "access_level"} Access Level
                .col-md-4
                  - access_levels = @user.get_access_levels
                  = select("access_level", "level", options_for_select(access_levels, @user.access_level), {},{ :class => 'form-control col-md-12'})
          .component
            / Button Drop Down
            .form-group
              %label.strong.col-md-7.control-label{for: "submit"}
              .col-md-1
                %button.col-md-12.btn.btn-default{type: "submit"} Submit
- if current_user.admin?
  %h1 Teams

  #form-container.team-form
    =form_for(@user, url: {action: "update"}, html: {class: "form-horizontal"}) do
      .form-group
        .col-md-8
          = label :example_fields, :class => "control-label" do
            Teams that this User is a part of
            %a{:href => "#", :rel => "tooltip", :title => "Add teams for this user", :data => {:toggle => "tooltip", :animation => "true"} }
              = icon 'question-circle', '', :class => "fa-15x"
          #row-fix.controls
            .row
              #order.col-md-5
            .row
              .col-md-5
                #list
                  %input#userteam-list{:hidden => true, :value => @user.teams.to_json}
                #add.input-group
                  %input#otherteam-list{:hidden => true, :value => (Team.all - @user.teams).to_json}
                  %select#append.form-control.col-md-2
                  %span.input-group-btn
                    %button#append-button.btn.btn-success{:type => "button"}
                      =icon "plus"
      .form-group
        %label.strong.col-md-7.control-label{for: "submit"}
        .col-md-1
          %button#team-submit.btn.btn-default{type: "submit"} Submit

  %h1 Remove Roles

  #form-container
    =form_for(@user, url: {action: "update"}, html: {class: "form-horizontal"}) do
      %fieldset
        .tab-content
          / Tabs of snippets go here
          #input.tab-pane.active
          - @memberships.each do |membership|
            .component
              / Text input
              .form-group
                %label.strong.col-md-6.control-label{for: "name"}= membership[:role].capitalize + ' on ' + membership[:group_name].capitalize
                .col-md-2.checkbox
                  %input#blankCheckbox{:type => "checkbox", :name => "remove[]", :value => membership[:id]}/
          - @roles.each do |role|
            .component
              / Text input
              .form-group
                %label.strong.col-md-6.control-label{for: "name"}= role[:role].capitalize + ' on ' + role[:ling_name].capitalize
                .col-md-2.checkbox
                  %input#blankCheckbox{:type => "checkbox", :name => "remove_role[]", :value => role[:id]}/
          .component
            / Button Drop Down
            .form-group
              %label.strong.col-md-7.control-label{for: "submit"}
              .col-md-1
                %button.btn.btn-default{type: "submit"}Remove


  %h1 Add Roles

  #form-container
    =form_for(@user, url: {action: "update"}, html: {class: "form-horizontal"}) do
      %fieldset
        .tab-content
          #input.tab-pane.active
            .component
              .form-group
                / Button Drop Down
                %label.strong.col-md-4.control-label{for: "access_level"} Access Level
                .col-md-2
                  = select("membership", "level", options_for_select(@membership_levels), {},{ :class => 'form-control col-md-12'})
                .col-md-2
                  = select("resource", "id", options_for_select(@group_names), {},{ :class => 'form-control col-md-12'})
              .form-group
                %label.strong.col-md-4.control-label{for: "expert_level"} Expert Level
                .col-md-2
                  = select("expert", "level", options_for_select(@role_levels), {},{ :class => 'form-control col-md-12'})
                .col-md-2
                  = select("ling", "id", options_for_select(@role_resources), {},{ :class => 'form-control col-md-12'})
          .component
            / Button Drop Down
            .form-group
              %label.strong.col-md-7.control-label{for: "submit"}
              .col-md-1
                %button.btn.btn-default{type: "submit"}Add
